.alert{
  background-color: #9e210e;
  border-radius: 5px;
  padding: 0.5rem 0;
  cursor: help;
}

.alert p{
  font-size: 13px;
  text-align: center;
  margin: 0;
}

.alert span{
  font-weight: bold;
  text-decoration: underline;
}

.article__title{
  margin: 0;
  text-align: center;
}

.article__text{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

.form__label{
  margin: 0;
}

.form__input{
  margin: 0.5rem 0 0 !important;
}

.form__error{
  font-size: 0.75rem;
  margin: 0.25rem 0;
  min-height: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
}

.error__message{
  display: none;
}

.error__message--show{
  display: inline-block;
  color: #b42813;
}

.footer{
  text-align: center;
  font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
  .alert{
    background-color: #e22103ea;
  }
  .alert p{
    color: cornsilk;
  }
}